version: "3.3"
services:
  alice_db:
    image: postgres:9.6-alpine
    restart: unless-stopped
    stop_grace_period: 2m
    stop_signal: SIGTERM
    tty: true
    environment:
      POSTGRES_DB: hedera_validator
      POSTGRES_PASSWORD: validator_pass
      POSTGRES_USER: validator
    volumes:
      - ./init:/docker-entrypoint-initdb.d
      - ./alice/db:/var/lib/postgresql/data
    ports:
      - 6432:5432
  bob_db:
    image: postgres:9.6-alpine
    restart: unless-stopped
    stop_grace_period: 2m
    stop_signal: SIGTERM
    tty: true
    environment:
      POSTGRES_DB: hedera_validator
      POSTGRES_PASSWORD: validator_pass
      POSTGRES_USER: validator
    volumes:
      - ./init:/docker-entrypoint-initdb.d
      - ./bob/db:/var/lib/postgresql/data
    ports:
      - 7432:5432
  carol_db:
    image: postgres:9.6-alpine
    restart: unless-stopped
    stop_grace_period: 2m
    stop_signal: SIGTERM
    tty: true
    environment:
      POSTGRES_DB: hedera_validator
      POSTGRES_PASSWORD: validator_pass
      POSTGRES_USER: validator
    volumes:
      - ./init:/docker-entrypoint-initdb.d
      - ./carol/db:/var/lib/postgresql/data
    ports:
      - 8432:5432
  alice:
    image: eth-hedera-validator
    build:
      context: ../..
      dockerfile: ./build/Dockerfile
    environment:
      VALIDATOR_DATABASE_HOST: alice_db
    volumes:
      - ./alice/config/bridge.yml:/src/hedera-eth-bridge-validator/config/bridge.yml
      - ./alice/config/node.yml:/src/hedera-eth-bridge-validator/config/node.yml
    restart: unless-stopped
    tty: true
    ports:
      - 6200:5200
    depends_on:
      - "alice_db"
  bob:
    image: eth-hedera-validator
    environment:
      VALIDATOR_DATABASE_HOST: bob_db
    volumes:
      - ./bob/config/bridge.yml:/src/hedera-eth-bridge-validator/config/bridge.yml
      - ./bob/config/node.yml:/src/hedera-eth-bridge-validator/config/node.yml
    restart: unless-stopped
    tty: true
    ports:
      - 7200:5200
    depends_on:
      - "bob_db"
  carol:
    image: eth-hedera-validator
    environment:
      VALIDATOR_DATABASE_HOST: carol_db
    volumes:
    - ./carol/config/bridge.yml:/src/hedera-eth-bridge-validator/config/bridge.yml
    - ./carol/config/node.yml:/src/hedera-eth-bridge-validator/config/node.yml
    restart: unless-stopped
    tty: true
    ports:
      - 8200:5200
    depends_on:
      - "carol_db"