version: "3.3"
services:
  db:
    image: postgres:9.6-alpine
    restart: always
    stop_grace_period: 2m
    stop_signal: SIGTERM
    tty: true
    environment:
      POSTGRES_DB: hedera_validator
      POSTGRES_PASSWORD: validator_pass
      POSTGRES_USER: validator
    volumes:
      - ./db:/var/lib/postgresql/data
    ports:
      - 5432:5432

  validator:
    image: gcr.io/hedera-eth-bridge-test/hedera-eth-bridge-validator:${TAG}
    environment:
      VALIDATOR_DATABASE_HOST: db
    restart: always
    tty: true
    volumes:
      - ./bridge.yml:/src/hedera-eth-bridge-validator/config/bridge.yml
      - ./node.yml:/src/hedera-eth-bridge-validator/config/node.yml
    ports:
      - 80:5200
    depends_on:
      - "db"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
      - 9090:9090
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --web.enable-lifecycle
    volumes:
      - ./monitoring/prometheus:/etc/prometheus
      - prometheus_data:/monitoring/prometheus
    links:
      - alertmanager:alertmanager

  alertmanager:
    image: prom/alertmanager
    ports:
      - 9093:9093
    volumes:
      - ./monitoring/alertmanager:/etc/alertmanager
    restart: always
    command:
      - '--config.file=/etc/alertmanager/config.yml'
      - '--storage.path=/alertmanager'

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - ./monitoring/grafana/provisioning:/etc/grafana/provisioning/
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  prometheus_data: {}
  grafana_data: {}
