package config

var AccountData = struct {
	Operator struct {
		AccountId  string
		PublicKey  string
		PrivateKey string
	}
	Network map[string]string
}{
	Operator: struct {
		AccountId  string
		PublicKey  string
		PrivateKey string
	}{
		"",
		"",
		"",
	},
	Network: map[string]string{
		"mainnet/testnet-link": "0.0.1",
	},
}

var MirrorNodeClientAddress = "hcs.testnet.mirrornode.hedera.com:5600"
var MirrorNodeAPIAddress = "https://testnet.mirrornode.hedera.com/api/v1/"
