package config

var AccountData = struct {
	Operator struct {
		AccountId  string
		PublicKey  string
		PrivateKey string
	}
}{
	Operator: struct {
		AccountId  string
		PublicKey  string
		PrivateKey string
	}{
		"some.account.id",
		"some.public.key",
		"some.private.key",
	},
}

var MirrorNodeClientAddress = "hcs.testnet.mirrornode.hedera.com:5600"
var MirrorNodeAPIAddress = "https://testnet.mirrornode.hedera.com/api/v1/"
var NetworkType = "testnet"