name: staticcheck

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: WillAbides/setup-go-faster@v1.8.0
        with:
          go-version: "1.18.x"
      - uses: dominikh/staticcheck-action@v1.2.0
        with:
          checks: "all,-ST*,-S1002,-S1005,-S1008,-S1023,-S1039,-U1000"
          version: "2022.1.3"